<%= render 'restaurants/card', restaurant: @restaurant %>

<br>

<ul id="reviews">
  <% @restaurant.reviews.each do |review| %>
    <%= render 'reviews/show', review: review %>
  <% end %>
</ul>

<% if @restaurant.reviews.empty? %>
  <div class="notification">
    No reviews yet, be the first!
  </div>
<% end %>

<%= render 'reviews/form', restaurant: @restaurant, review: @review %>

<br>
<%= link_to 'Back', restaurants_path %>
